body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #000000;
    text-transform: uppercase;

    background-color: #f2f2f2;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

.button {
    border: 0 none;

    font-size: 21px;
    line-height: 1.5;
    font-weight: bold;
    color: #ffffff;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

/* Начало стилизации шапки сайта  */

.page-header {
    font-weight: bold;

    background-color: #ffffff;
}

.wrap-navigation {
    display: flex;
    flex-grow: 1;
}

.logo-sedona {
    min-width: 240px;
    margin-bottom: -21px;

    text-align: center;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    min-width: 480px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.site-navigation-item {
    flex-grow: 1;
    min-width: 240px;
    margin: 0;
    padding: 0;
}

.site-navigation-link {
    display: block;
    min-height: 55px;
    line-height: 55px;
    text-align: center;
}

.site-navigation-link:hover {
    color: #81b3d2;
}

.site-navigation-link:active {
    color: #cacaca;
}

.site-navigation-link-active {
    color: #766357;
}

/* Начало стилизации главной страницы  */

.page-main {
    margin-top: -21px;
    padding-top: 21px;
    background-color: #ffffff;
}

.title {
    font-size: 21px;
    line-height: 1.5;
    font-weight: bold;
    color: #000000;
}

.advantages-title {
    font-size: 14px;
    line-height: 1.5;
    font-weight: normal;
    color: #333333;
}

.advantages-list,
.advantages-sublist {
    list-style: none;
}

.advantages-item,
.advantages-subitem {
    color: #333333;
}

.advantages-item {
    background-color: #eeeeee;
}

.advantages-item:first-of-type,
.advantages-item:nth-of-type(2) {
    color: #ffffff;

    background-color: #81b3d2;
}

.advantages-subitem {
    background-color: #ffffff;
}

.advantages-item-title {
    font-size: 21px;
    line-height: 1.5;
    font-weight: bold;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-title {
    font-size: 30px;
    line-height: 1.5;
    font-weight: bold;
    color: #000000;
}

.search-text {
    margin-right: 380px;
    margin-left: 380px;
    color: #333333;
    text-align: center;
}

.search-form {
    display: flex;
    flex-direction: column;
    width: 568px;
    margin-left: auto;
    margin-right: auto;
}

.search-form-button {
    background-color: #766357;
}

.search-form-button:hover {
    background-color: #604e43;
}

.search-form-button:active {
    color: #928a85;

    background-color: #503e33;
}

.search-form-find {
    background-color: #81b3d2;
}

.search-form-find:hover {
    background-color: #669ec0;
}

.search-form-find:active {
    color: #94b9d2;

    background-color: #5496bd;
}

/* Начало стилизации страницы с катологом гостиниц  */

.choice-form {
    color: #ffffff;

    background-color: #3f769f;
}

.choice-form-fieldset {
    border: 0 none;
}

.choice-form-legend {
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
}

.show-button {
    border: 2px solid #ffffff;

    font-weight: 400;

    background-color: rgba(63, 118, 159, 0);
}

.show-button:hover {
    color: #000000;

    background-color: #ffffff;
}

.sorting {
    background-color: #fefefe;
}

.sorting-found {
    font-size: 21px;
    line-height: 1.5;
    font-weight: bold;
}

.sorting-field {
    border: 0 none;
}

.sorting-legend {
    font-size: 12px;
    line-height: 1.5;
    color: #000000;
}

.button-sorting {
    border-width: 0;
    border-bottom: 1px dotted #81b3d2;

    font-size: 12px;
    line-height: 1.5;
    color: #cacaca;
    text-transform: uppercase;

    background-color: #fefefe;
}

.button-sorting:hover {
    color: #81b3d2;
}

.button-sorting:active {
    border: none;

    color: #000000;
}

.button-sorting-active {
    border: none;

    color: #81b3d2;
}

.button-arrow {
    border: none;

    font-size: 0;

    background-color: #cacaca;
}

.button-arrow:hover {
    background-color: #81b3d2;
}

.button-arrow:active {
    background-color: #000000;
}

.button-arrow-active {
    font-size: 0;

    background-color: #81b3d2;
}

.house-list {

    background-color: #ffffff;

    list-style: none;
}

.house-list-item {
    display: flex;
    margin: 0;
    padding-top: 28px;
    padding-right: 73px;
    padding-bottom: 30px;
    padding-left: 72px;

    border-top: 1px solid #e5e5e5;
}

.house-list-item:last-of-type {
    border-bottom: 1px solid #e5e5e5;
}

.house-list-content {
    margin-right: auto;
    margin-left: 30px;
}

.house-list-name {
    font-size: 21px;
    line-height: 1.5;
    font-weight: bold;
    color: #000000;
}

.house-list-name:hover {
    color: #81b3d2;
}

.house-list-name:active {
    color: #cacaca;
}

.house-list-type {
    color: #333333;
}

.house-list-detailed {
    font-size: 14px;

    background-color: #81b3d2;
}

.house-list-detailed:hover {
    background-color: #669ec0;
}

.house-list-detailed:active {
    color: #8b979f;

    background-color: #425c6c;
}

.house-list-reservation {
    font-size: 14px;

    background-color: #766357;
}

.house-list-reservation:hover {
    background-color: #604e43;
}

.house-list-reservation:active {
    color: #928a85;

    background-color: #503e33;
}

.house-list-rating-number {
    color: #666666;

    background-color: #f2f2f2;
}

/* Начало стилизации подвала сайта  */

.page-footer {
    display: flex;
    align-items: center;
    min-height: 120px;

    background-color: rgba(255, 255, 255, 0.902);
}

.page-footer-part {
    flex-basis: 0;
    flex-grow: 1;
}

.contacts,
.socials,
.logo-htmlacademy {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.contacts {
    flex-direction: column;
    font-size: 21px;
    line-height: 1.5;
    font-weight: bold;

    list-style: none;
}

.contacts-item {
    margin-left: 122px;
}

.socials {
    align-items: center;

    list-style: none;
}

.logo-htmlacademy {
    align-items: center;
}




